*{
  font-family: 'Noto Sans KR', cursive;
}
/*p{
  font-size: 25px;
}*/

body {
    /*width: 700px;*/
    margin: 0 auto;
    background-color: whitesmoke;
    width: 80%;
    /*text-align: center;*/
    border-radius: 20px;
  }

#title{
    text-align: center;
}

#submit{
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgb(22, 165, 221);
    background-color: white;
    color: rgb(22, 165, 221);
    float: right;
}
#submit:hover{
    color:white;
    border: 1px solid skyblue;
    background-color: skyblue;
}
#btn_back{
    /*background-image: url(/images/back.png);*/
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    outline: 0;
}

/* calender */

.rap {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.date_head {
  margin-bottom: 10px;
}

.date_head div {
  background: #f03d3d;
  color: #fff;
  text-align: center;
}

.date_form {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.date_form div {
  width: 75px;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.dateSel div {
  font-weight: bold;
  color: #333;
  min-height: 70px;
  padding: 12px 9px;
  border-radius: 10px;
  border: 1px solid #f7f7f7;
}

.background {
  background: #f7f7f7;
}
