*{
  font-family: 'Noto Sans KR', cursive;
}
/*p{
  font-size: 25px;
}*/

body {
    /*width: 700px;*/
    margin: 0 auto;
    background-color: whitesmoke;
    width: 80%;
    /*text-align: center;*/
    border-radius: 20px;
  }

#title{
    text-align: center;
}

#submit{
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgb(22, 165, 221);
    background-color: white;
    color: rgb(22, 165, 221);
    float: right;
}
#submit:hover{
    color:white;
    border: 1px solid skyblue;
    background-color: skyblue;
}
#btn_back{
    /*background-image: url(/images/back.png);*/
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    outline: 0;
}

/* 설정 페이지 */
.status{
  height: 20px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
} 

.statusBar{
  height: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+45,ff5c5c+100;Red+3D+%231 */
  background: #febbbb; /* Old browsers */
  background: -moz-linear-gradient(top,  #febbbb 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */
  border-radius: 20px;
}

/* calender */

.rap {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.date_head {
  margin-bottom: 10px;
}

.date_head div {
  background: #f03d3d;
  color: #fff;
  text-align: center;
}

.date_form {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.date_form div {
  width: 75px;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.dateSel div {
  font-weight: bold;
  color: #333;
  min-height: 70px;
  padding: 12px 9px;
  border-radius: 10px;
  border: 1px solid #f7f7f7;
}

.background {
  background: #f7f7f7;
}

/*운동 리스트*/

.listEntry{
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 80%;
  border: 0px;
  font-size: 20px;
  color: black;
  margin-right: 5px;

}
.listBtn{
  background-color: whitesmoke;
  border-radius: 20px;
  width: 8%;
  border: 0px solid gray;
  color: black;
  margin-right: 5px;
}
.listBtn:hover, .listBtn:focus, .listBtn:visited, .listBtn:active{
  background-color: gray;
  color: whitesmoke;
  margin-right: 5px;
}
.listpopBtn{
  background-color: whitesmoke;
  border-radius: 20px;
  width: 30%;
  border: 1px solid gray;
  color: black;
  margin-right: 5px;
}
.listpopBtn:hover, .listpopBtn:focus, .listpopBtn:visited, .listpopBtn:active{
  background-color: gray;
  color: whitesmoke;
  margin-right: 5px;
}
/*.btnGroup{
  text-align: center;
}*/
.dayGroup{
  text-align: center;
  background-color: whitesmoke;
  border-radius: 10px;
  border: 1px solid gray;
  margin-right: 5px;
  width: 10%;
}